@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.featuredSongs {
  max-width: 1400px;
  min-height: 100svh;
  padding: 3rem 2rem 4rem 2rem;
  margin: auto;

  @include media-breakpoint-down(lg) {
    padding: 2rem 1rem;
  }

  .songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    iframe {
      height: 14.5rem;
      max-width: 27rem;
    }

    @include media-breakpoint-down(xl) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    @include media-breakpoint-down(lg) {
      iframe {
        max-height: 9.5rem;
      }
    }

    @include media-breakpoint-down(md) {
      iframe {
        // max-height: 5rem;
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }
}