.nowPlaying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100svh;
  padding: 3rem;

  h1 {
    font-weight: 700;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    margin-top: -1rem;

    small {
      font-size: 0.75rem;
      font-weight: 200;
      font-family: 'JetBrains Mono', monospace;
    }
  }

  a {
    margin-top: 2rem !important;
    color: lightgrey;

    &:hover {
      color: white;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem;

    iframe {
      margin-bottom: 1.5rem;
    }

    a {
      position: absolute;
      bottom: 1rem;
    }
  }
}