@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container {
  max-width: 1400px;
  min-height: 100svh;
  padding: 3rem 2rem 4rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: left;

  @include media-breakpoint-down(lg) {
    padding: 2rem 1rem;
  }

  p {
    margin: unset;
  }

  .playlists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;

    iframe {
      min-height: 30rem !important;
      max-width: 27rem;
    }

    @include media-breakpoint-down(xl) {
      gap: 1rem;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
  }
}