.solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  width: 100vw;
  padding: 3rem;

  button {
    cursor: pointer;
    color: #ffffff;
    font-size: 0.75rem;
    background-color: lighten(#282c34, 5%);
    border: 1px solid #282c34;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
  }

  button:hover {
    cursor: pointer;
    background-color: lighten(#282c34, 20%);
    border: 1px solid darken(#ffffff, 50%);
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.player {
  display: grid;
  grid-template-columns: 3rem minmax(auto, 50rem) 3rem;
  gap: 1rem;

  button {
    height: 100%;
  }
}

.randomiseBtn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  margin: 0;
  padding: 0;
  background: none;
  border: unset;
}

.controls {
  display: flex;
  gap: 1rem;

  button {
    background: unset;
    font-size: 1.25rem;
  }

  button:hover {
    cursor: pointer;
    background: unset;
    border: none;
  }
}

// forcing push
